<div class="container">
  <div class="row justify-content-center">
    <div class="centered">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" id="main" src="{{URL}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">!שהיה לך יום מדהים ענברי</h5>
          <button class="btn btn-primary btn-block" (click)="antherPicture()">!אני רוצה עוד חתול</button>
          <button class="btn btn-success btn-block" (click)="anthergif()">!אני רוצה  גיף</button>
          <button class="btn btn-danger btn-block" (click)="antherCutePicture()">!אני רוצה חתול חמוד</button>
        </div>
      </div>
    </div>
  </div>
</div>